<section id="sidebar" style="background-color:#08192f; ">

    <div class="inner" style="background-color:#08192f; padding: 1em 0 1em 0;">

        <nav style="position: absolute; right: 3em; background-color: #08192f">
            <ul>
                <li><a href="#intro" style="font-family: 'Courier Prime', monospace;">Home</a></li>
                <li><a href="#four" style="font-family: 'Courier Prime', monospace;" class="navi">About Me</a></li>
                <li><a href="#one" style="font-family: 'Courier Prime', monospace; " class="navi">Skills</a></li>
                <li><a href="#two" style="font-family: 'Courier Prime', monospace; " class="navi">My Work</a></li>
                <li><a href="#three" style="font-family: 'Courier Prime', monospace; " class="navi">Music</a></li>


            </ul>
        </nav>
    </div>
</section>