doctype html              
html.
  <head>

    <link rel="stylesheet" href="assets/css/main.css" />
   
  </head>

  <body class="is-preload">
    <canvas>
   
    </canvas>

    <h1>hiiiiii</h1>
            <h2>sdfsdf </h2>
      <p>fsuhfga</p>
   <script src="assets/js/chain.js"></script>

   
  </body>

