doctype html
html.
	<head>
		<title>Shuyi Jin</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<script src="assets/js/freezeframe.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>

	<body class="is-preload" style="background-image: url('images/grey.jpg');background-attachment: fixed; background-size: cover;">

		<section id="sidebar">
		
			<div class="inner">
		
				<nav>
					<ul>
						<li><a href="/" style="font-family: 'Courier Prime', monospace;">Home</a></li>
						<li><a href="/#two" style="font-family: 'Courier Prime', monospace;">More by me</a></li>
						<li><a href="/multiplicity" style="font-family: 'Courier Prime', monospace;" class="active">Movie Database</a></li>
		
					</ul>
				</nav>
			</div>
		</section>

		<div id="wrapper">
		<section id="two" class="wrapper style3 fullscreen fade-up">
		<div class="inner">
		
		<section>
		<div class="carousel" >

		<div class="cgrid-item" >								
			<div>
			<a href="/multiplicity"><img class="freezeframe" src="images/mc.gif"/></a>
			<script>
				new Freezeframe();
			</script>
			</div>

			<div class="apple">

			

			<div class="description" >
			<h4>This is project <b style="color: black; text-shadow: 2px 2px rgba(156, 114, 125, 0.6);"> description </b> prject desecription this is poroihwe desiwogr this is project descrition this is project despriot this ie</h4>
			</div>

			<div class="description" >
			<h4>This is project <b style="color: black; text-shadow: 2px 2px rgba(156, 114, 125, 0.6);"> description </b> prject desecription this is poroihwe desiwogr this is project descrition this is project despriot this ie</h4>
			</div>

			
			</div>				
		</div>

		<div class="cgrid-item" >								
			<div>
			<a href="/multiplicity"><img class="freezeframe" src="images/mc.gif"/></a>
			<script>
				new Freezeframe();
			</script>
			</div>

			<div class="apple">

			

			<div class="description" >
			<h4>This is project description prject desecription this is poroihwe desiwogr this is project descrition this is project despriot this ie</h4>
			</div>

			
			</div>				
		</div>

		<div class="cgrid-item" >								
			<div>
			<a href="/multiplicity"><img class="freezeframe" src="images/mc.gif"/></a>
			<script>
				new Freezeframe();
			</script>
			</div>

			<div class="apple">

			

			<div class="description" >
			<h4>This is project description desecription this is poroihwe desiwogr this is project descrition this is project despriot this ie</h4>
			</div>

			
			</div>				
		</div>
		

		<div class="nameofproject">
		<a href="https://github.com/cjin1998/multiplicity" download class="projectbutton button " id="source">Source Code</a>
		<a href="http://portal.multiplicity.io/" download class="projectbutton button " id="live">Live Website</a>
		<div>

		

		</div>
		</section>
		</div>
		</section>
		</div>
		<script>
			$("#live").click(function(){
				alert("hiii");
			});

			$("#source").click(function(){
				alert("this is source code");
			});
		</script>
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/carousel.js"></script>
		<script src="assets/js/jquery.scrollex.min.js"></script>
		<script src="assets/js/jquery.scrolly.min.js"></script>
		<script src="assets/js/browser.min.js"></script>
		<script src="assets/js/breakpoints.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>
		<script src="assets/js/chain.js"></script>
	</body>
