doctype html              
html.
	<head>
	<title>Shuyi Jin</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />
	<script src="assets/js/freezeframe.min.js"></script>
	<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>

	<body >
		<section id="intro" class="wrapper style1 fullscreen fade-up">
		<div style="width: 800px; height:450px;">
		<img style="width: 800px; height:450px;" class="freezeframe" src="images/2.gif" />

		<script>
			new Freezeframe();
		</script>
		</div>
		<h1>hahhahhaha</h1>

		<div style="width: 800px; height:450px;">
				<img style="width: 800px; height:450px;" class="freezeframe" src="images/2.gif" />

				<script>
					new Freezeframe();
				</script>
			</div>
		</section>
	</body>