doctype html              
html.
	<head>
		<title>Shuyi Jin</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
		
	</head>
	
	<body class="is-preload">
	
		
		<!-- Sidebar -->
			<section id="sidebar">
			
				<div class="inner">
					
					<nav>
						<ul>
							<li><a href="#intro">Home</a></li>
							<li><a href="#one">Skills</a></li>
							<li><a href="#two">Projects</a></li>
							<li><a href="#three">Experience</a></li>
							<li><a href="#four">SuperCollider</a></li>
							
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<canvas></canvas>
						<div class="inner">
							<h1>Shuyi Jin</h1>
							
								
					
							<p></p>
							<p></p>
							<p></p>
							
								<a href="assets/Shuyi_Jin_Resume.pdf" download class="button scrolly">Download My Resume</a>
								<p></p>
								<ul class="icons">
									
									<li><a href="https://github.com/cjin1998" class="icon brands fa-github" ><span class="label">GitHub</span></a></li>
									
									<li><a href="https://www.linkedin.com/in/shuyi-j-070251121" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
								</ul>
							
						</div>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<h2>I am experienced in working with:</h2>
							<section>
							<div class="grid-container" >

							
							<div class="grid-item" >
							<div class="progress-wrap fade-in" >
							<a href="/info"><h3 class="skillname">React</h3></a>
								<div class="progress">
								<div class="progress-bar color-1" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
									<span>70%</span>
								</div>
								</div>
							</div>
							</div>
							

							<div class='grid-item'>
							<div class="progress-wrap fade-in" >
							<a href="/info"><h3 class="skillname">Javascript</h3></a>
								<div class="progress">
								<div class="progress-bar color-1" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:10%">
									<span>10%</span>
								</div>
								</div>
							</div>
							</div>

							<div class="grid-item">
							<div class="progress-wrap fade-in">
							<a href="/info"><h3 class="skillname">C++</h3></a>
								<div class="progress">
								<div class="progress-bar color-1" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
									<span>70%</span>
								</div>
								</div>
							</div>
							</div>
							

							<div class='grid-item'>
							<div class="progress-wrap fade-in">
							<a href="/info"><h3 class="skillname">CSS</h3></a>
								<div class="progress">
								<div class="progress-bar color-1" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width:30%">
									<span>30%</span>
								</div>
								</div>
							</div>
							</div>

							<div class='grid-item'>
							<div class="progress-wrap fade-in">
							<a href="/info"><h3 class="skillname">HTML</h3></a>
								<div class="progress">
								<div class="progress-bar color-1" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
									<span>40%</span>
								</div>
								</div>
							</div>
							</div>
							

							<div class='grid-item'>
							<div class="progress-wrap fade-in">
							<a href="/info"><h3 class="skillname">HTML</h3></a>
								<div class="progress">
								<div class="progress-bar color-1" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
									<span>40%</span>
								</div>
								</div>
							</div>
							</div>

							<div class='grid-item'>
							<div class="progress-wrap fade-in">
							<a href="/info"><h3 class="skillname">HTML</h3></a>
								<div class="progress">
								<div class="progress-bar color-1" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
									<span>40%</span>
								</div>
								</div>
							</div>
							</div>
							

							<div class='grid-item'>
							<div class="progress-wrap fade-in">
							<a href="/info"><h3 class="skillname">HTML</h3></a>
								<div class="progress">
								<div class="progress-bar color-1" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
									<span>40%</span>
								</div>
								</div>
							</div>
							</div>
							

						</div>	
						</section>
						<h2 style="margin-top: 40px; text-align: right">I am a fast and independent learner and always learning something new.</h2>
						</div>	
					</section>

				<!-- Two -->
					<section id="two" class="wrapper style3 fade-up">
						<div class="inner">
						<h2>Some of my work:</h2>
							<section>
									<div class="posts" style="margin-top: 50px">
										<article>
											<a href="#" class="image"><img src="images/2.gif" alt="" /></a>
											<a href="/info"><h3 class="skillname">LLLLLLL</h3></a>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
											<ul class="actions">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</article>


										<article>
											<a href="#" class="image"><img src="images/pic02.jpg" alt="" /></a>
											<a href="/info"><h3 class="skillname">LLLLLLL</h3></a>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
											<ul class="actions">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</article>

										<article>
											<a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>
											<a href="/info"><h3 class="skillname">LLLLLLL</h3></a>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
											<ul class="actions">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic02.jpg" alt="" /></a>
											<a href="/info"><h3 class="skillname">LLLLLLL</h3></a>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
											<ul class="actions">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</article>
										
									</div>
								</section>

							<p style="margin-bottom: 10px;"></p>
						</div>
					</section>

				<!-- Three -->
					<section id="three" class="wrapper style1 fade-up">
						<div class="inner">
							<h2>Get in touch</h2>
							<p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus, lacus eget hendrerit bibendum, urna est aliquam sem, sit amet imperdiet est velit quis lorem.</p>
							<div class="split style1">
								<section>
									<form method="post" action="#">
										<div class="fields">
											<div class="field half">
												<label for="name">Name</label>
												<input type="text" name="name" id="name" />
											</div>
											<div class="field half">
												<label for="email">Email</label>
												<input type="text" name="email" id="email" />
											</div>
											<div class="field">
												<label for="message">Message</label>
												<textarea name="message" id="message" rows="5"></textarea>
											</div>
										</div>
										<ul class="actions">
											<li><a href="" class="button submit">Send Message</a></li>
										</ul>
									</form>
								</section>
								<section>
									<ul class="contact">
										<li>
											<h3>Address</h3>
											<span>12345 Somewhere Road #654<br />
											Nashville, TN 00000-0000<br />
											USA</span>
										</li>
										<li>
											<h3>Email</h3>
											<a href="#">user@untitled.tld</a>
										</li>
										<li>
											<h3>Phone</h3>
											<span>(000) 000-0000</span>
										</li>
										<li>
											<h3>Social</h3>
											<ul class="icons">
												<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
												<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
												<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
												<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
												<li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
											</ul>
										</li>
									</ul>
								</section>
							</div>
						</div>
					</section>

				<!-- Four -->
					<section id="four" class="wrapper style3 fade-up">
						<div class="inner">
						<h2 style="text-align: left">Checkout this piece of music I coded in SuperCollider:</h2>
							<section class="tiles">
								<article class="style1">
									<span class="image">
										<img src="images/pic03.jpg" alt="" />
									</span>
									<a href="/info">
										<h2>Music</h2>
										<div class="content">
											<p>Listen on SoundCloud</p>
										</div>
									</a>
								</article>

								<article class="style2">
									<span class="image">
										<img src="images/pic03.jpg" alt="" />
									</span>
									<a href="https://github.com/cjin1998/collide">
										<h2>Code</h2>
										<div class="content">
											<p>Link to Github</p>
										</div>
									</a>
								</article>

							</section>
							<p style="margin-bottom: 10px;"></p>
							
						</div>
					</section>

			</div>


		<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="icons" style="margin-bottom: 0px;">
									
									
									
									<li><a href="https://github.com/cjin1998" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
									
									<li><a href="https://www.linkedin.com/in/shuyi-j-070251121" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
									
									<li><a href="https://soundcloud.com/christine-jin-763724305">/*More Music From Me**/</a></li>

									<li><a href="#">/*I Also Do Standup Comedy Sometimes**/</a></li>
								</ul>
				</div>
			</footer>
 	

    
		<!-- Scripts "https://www.youtube.com/watch?v=hYKmDl9W9K0&t=55s" -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="assets/js/chain.js"></script>
	</body>
