doctype html              
html.
	<head>
		<title>Shuyi Jin</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<script src="assets/js/freezeframe.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	
	<body class="is-preload" style="background-image: url('images/top.jpg');background-attachment: fixed; background-size: cover;">
	
		
		<!-- Sidebar -->
			<section id="sidebar">
			
				<div class="inner">
					
					<nav>
						<ul>
							<li><a href="#intro" style="font-family: 'Courier Prime', monospace;">Home</a></li>
							<li><a href="#one" style="font-family: 'Courier Prime', monospace;" class="navi">Skills</a></li>
							<li><a href="#two" style="font-family: 'Courier Prime', monospace;" class="navi">My Work</a></li>
							<li><a href="#three" style="font-family: 'Courier Prime', monospace;" class="navi">More About Me</a></li>
							
							
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<!--<canvas></canvas>-->
						<div class="inner">
							<h1><span class="myname">Shuyi Jin</span></h1>				
							<p></p>
							<p></p>
							<p></p>
							
								<a href="assets/Shuyi_Jin_Resume.pdf" download class="button scrolly">Download My Resume</a>
								<p></p>
								<ul class="icons">
									
									<li><a href="https://github.com/cjin1998" class="icon brands fa-github" ><span class="label">GitHub</span></a></li>
									
									<li><a href="https://www.linkedin.com/in/shuyi-j-070251121" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
								</ul>
							
						</div>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<h2 style="margin-bottom:40px;"><span style="display:inline-block;" class="prompt">I am experienced in working with:</span></h2>
							<section>
							<div class="grid-container" >

							
							<div class="grid-item" >
							<div class="progress-wrap fade-in" >
							<a href="/info"><h3 class="skillname">React</h3></a>
								
							</div>
							</div>
							

							<div class='grid-item'>
							<div class="progress-wrap fade-in" >
							<a href="/info"><h3 class="skillname">MongoDB</h3></a>
								
							</div>
							</div>

							<div class="grid-item">
							<div class="progress-wrap fade-in">
							<a href="/info"><h3 class="skillname">HTML</h3></a>
								<!--<div class="progress">
								<div class="progress-bar color-1" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
									<span>70%</span>
								</div>
								</div>-->
							</div>
							</div>
							

							<div class='grid-item'>
							<div class="progress-wrap fade-in">
							<a href="/info"><h3 class="skillname">Javascript</h3></a>
								
							</div>
							</div>

							<div class='grid-item'>
							<div class="progress-wrap fade-in">
							<a href="/info"><h3 class="skillname">Java</h3></a>
								
							</div>
							</div>
							

							<div class='grid-item'>
							<div class="progress-wrap fade-in">
							<a href="/info"><h3 class="skillname">MySQL</h3></a>
							
							</div>
							</div>

							<div class='grid-item'>
							<div class="progress-wrap fade-in">
							<a href="/info"><h3 class="skillname">Bubblegum</h3></a>
								
							</div>
							</div>
							

							<div class='grid-item'>
							<div class="progress-wrap fade-in">
							<a href="/info"><h3 class="skillname">React Native</h3></a>
								
							</div>
							</div>
							

						</div>	
						</section>
						<h2 style="margin-top: 30px; text-align: right"><span style="display:inline-block;" class="prompt">I am a fast and independent learner and always learning something new.</span></h2>
						</div>	
					</section>

				<!-- Two -->
					<section id="two" class="wrapper style3 fullscreen fade-up">
						<div class="inner">
							<h2 ><span style="display:inline-block;" class="prompt">Here are some of my work:</span></h2>
							<section>
										

								<div class="wcarousel">

									<div class="wcgrid-item">
										<div class="lrgrid">

											<div class="item1">
											<div class="infos">
											
											<div class="infosection">
											<h3 class="infoname">My Role</h3>
											<h3 class="infocontent">First itme Oversaw the whole SDLC. entire thing. ask client their requirements, made adjustments, assign tasks, come up with solutions for things, made final decisions, did testing, made improvement over iterations. handled deployment and maintinence </h3>
											</div>
											<div class="infosection">
											<h3 class="infoname">Difficulties</h3>
											<h3 class="infocontent">Deciding which framework to use. Flask vs Django. Had to delegate task. Needed to fulfill client requirement but also consider the technical part. Team spirit during covid. </h3>
											</div>
											<div class="infosection">
											<h3 class="infoname">My Solution</h3>
											<h3 class="infocontent">Decided to use Flask because it is more flexible and allows more customization. Had repeated meetings and iterations of testings and improving. made small increments. small milestones. little by little so that it is not overwhelming (the forum, the collab notification, the email)</h3>
											</div>
											</div>
											</div>

											<div class="item2">
											<h3 class="projectname">Multiplicity</h3>
											<div>
											<a href="/multiplicity"><img class="freezeframe" src="images/multi.gif"/></a>
											<script>
												new Freezeframe();
											</script>
											</div>
											<div class="nameofproject">
												<a href="https://github.com/cjin1998/multiplicity"  class="morebutton" id="source">Source Code</a>
												<a href="http://portal.multiplicity.io/"  class="morebutton" id="live">Live Website</a>
											</div>
											<div class="tech">	
												<li class="thing">Python</li>							
												<li class="thing">MySQL</li>
												<li class="thing">Flask</li>
												<li class="thing">Ajax</li>
												<li class="thing">JQuery</li>
												<li class="thing">SFTP</li>																
											</div>
											<div class="infosection">
											<h3 class="infoname">Overview</h3>
											<h3 class="infocontent">This website is a web portal for the clients of <a href="http://multiplicity.io">Multiplicity</a>, a company that provides academic institutions and corporations with workshops on inclusivity and collaboration.</h3>
											</div>
											<div class="infosection">
											<h3 class="infoname">Notable Features</h3>
											<h3 class="infocontent">1. CRUD operation on user profiles; 2. send requests to collab. 3. email updates on requests. 4. forum and comments. 5. sort and filter on profiles and events 6. link to register</h3>
											</div>

											</div>

										</div>
									</div>



									<div class="wcgrid-item">
										<div class="lrgrid">

											<div class="item1">
											
											<p>Header is goos is a g his is gr this is der header header lalala lala he his is good this is w e god saho ie fhiod sMenu  is good this is header this is a good header this is a good header header header lalala lala he his is good this is w e god saho ie fhiod s Header is good this is header this is a good header this is a good header header header lalala lala he his is good this is w e god saho ie fhiod s Menu  is good this is header this is a good header this is a good header header header lalala lala he his is good this is w e god saho ie fhiod s Menu</p>
											</div>

											<div class="item2">
											<h3 class="projectname">Music and Chill</h3>
											<div>
											<a href="/multiplicity"><img class="freezeframe" src="images/mc.gif"/></a>
											<script>
												new Freezeframe();
											</script>
											</div>
											<div class="nameofproject">
												<a href="https://github.com/cjin1998/multiplicity"  class="morebutton" id="source">Source Code</a>
												<a href="http://portal.multiplicity.io/"  class="morebutton" id="live">Live Website</a>
											</div>
											<div class="tech">	
												<li class="thing">Python</li>							
												<li class="thing">MySQL</li>
												<li class="thing">Flask</li>
												<li class="thing">Ajax</li>
												<li class="thing">JQuery</li>
												<li class="thing">SFTP</li>																
											</div>
											<p>Menu is good this is header this is a good header thisgood header header header lalala lala he h his is good this is w e god saho ie fhiod s Menu</p>
											</div>

										</div>
									</div>

									<div class="wcgrid-item">
										<div class="lrgrid">

											<div class="item1">
											<div class="infos">
											
											<div class="infosection">
											<h3 class="infoname">My Role</h3>
											<h3 class="infocontent">er is gheader header lalala lala he his is good this is w e god saho ie fhiod s Menu  is good this is header this is a good header this is a good header header header lalala lala he his is good this is w e god saho ie fhiod s Menu</h3>
											</div>
											<div class="infosection">
											<h3 class="infoname">Difficulties</h3>
											<h3 class="infocontent">er is gheader header lalala lala he his is good this is w e god saho ie fhiod s Menu  is good this is header this is a good header this is a good header header header lalala lala he his is good this is w e god saho ie fhiod s Menu</h3>
											</div>
											<div class="infosection">
											<h3 class="infoname">My Solution</h3>
											<h3 class="infocontent">er is gheader header lalala lala he his is good this is w e god saho ie fhiod s Menu  is good this is header this is a good header this is a good header header header lalala lala he his is good this is w e god saho ie fhiod s Menu</h3>
											</div>
											</div>
											</div>

											<div class="item2">
											<h3 class="projectname">To Change</h3>
											<div>
											<a href="/multiplicity"><img class="freezeframe" src="images/mc.gif"/></a>
											<script>
												new Freezeframe();
											</script>
											</div>
											<div class="nameofproject">
												<a href="https://github.com/cjin1998/multiplicity"  class="morebutton" id="source">Source Code</a>
												<a href="http://portal.multiplicity.io/"  class="morebutton" id="live">Live Website</a>
											</div>
											<div class="tech">	
												<li class="thing">Python</li>							
												<li class="thing">MySQL</li>
												<li class="thing">Flask</li>
												<li class="thing">Ajax</li>
												<li class="thing">JQuery</li>
												<li class="thing">SFTP</li>																
											</div>
											<div class="infosection">
											<h3 class="infoname">Overview</h3>
											<h3 class="infocontent">Header is good this is header this is a good header this is a gd s Menu</h3>
											</div>
											</div>

										</div>
									</div>


									
										
									



									<div class="wcgrid-item">
										
										<div class="lrgrid">
										<div>
										<a href="/multiplicity"><img class="freezeframe" src="images/mc.gif"/></a>
										<script>
											new Freezeframe();
										</script>
										</div>

										<div class="apple">

										<a href="/multiplicity"><h3 class="projectname">Multiplicity Portal</h3></a>

										<div class="description" >
										<h4>This is project description prject desecription this is poroihwe desiwogr this is project descrition this is project despriot this ie</h4>
										</div>

										<div class="tech">	
											<li class="thing">Python</li>							
											<li class="thing">MySQL</li>
											<li class="thing">Flask</li>
											<li class="thing">Ajax</li>
											<li class="thing">JQuery</li>
											<li class="thing">SFTP</li>																
										</div>
										</div>	
										</div>			
									</div>


									
									<div class="wcgrid-item">
										<div class="col-1">
										<div>
										<a href="/musicandchill"><img class="freezeframe" src="images/multi.gif"/></a>
										<script>
											new Freezeframe();
										</script>
										</div>
										</div>


										<div class="col-2">
										<p>this is column 2</p>
										</div>

													
									</div>



									<div class="wcgrid-item">
										
										<div>
										<a href="/moviebase"><img class="freezeframe" src="images/mc.gif"/></a>
										<script>
											new Freezeframe();
										</script>
										</div>

										<div class="apple">

										<a href="/moviebase"><h3 class="projectname">Movie Database</h3></a>

										<div class="description" >
										<h4>This is project description prject desecription this is poroihwe desiwogr this is project descrition this is project despriot this ie</h4>
										</div>

										<div class="tech">	
											<li class="thing">React</li>							
											<li class="thing">D3 Geo Projection</li>
											<li class="thing">MongoDB</li>
										
																										
										</div>
										</div>				
									</div>




									<div class="wcgrid-item">
										
										<div>
										<a href="/visualtool"><img class="freezeframe" src="images/multi.gif"/></a>
										<script>
											new Freezeframe();
										</script>
										</div>

										<div class="apple">

										<a href="/visualtool"><h3 class="projectname">Tool For Migration Studies</h3></a>

										<div class="description" >
										<h4>This is project description prject desecription this is poroihwe desiwogr this is project descrition this is project despriot this ie</h4>
										</div>

										<div class="tech">	
											<li class="thing">React</li>							
											<li class="thing">D3 Geo Projection</li>
											<li class="thing">MongoDB</li>
										
																										
										</div>
										</div>				
									</div>





									



								</div>
							</section>
							
						</div>
					</section>

				<!-- Three -->
				<section id="three" class="wrapper style1 fullscreen fade-up">
				
					<div class="inner">
					
						<h2 style="text-align: left; margin-bottom: 50px"><span style="display:inline-block;" class="prompt">Checkout this piece of music I coded:</span></h2>
							<section class="tiles">
								<article class="style1">
									<span class="image">
										<img src="images/pic03.jpg" alt="" />
									</span>
									<a href="https://soundcloud.com/christine-jin-763724305/collide">
										<h2>Music</h2>
										<div class="content">
											<p>Listen on SoundCloud</p>
										</div>
									</a>
								</article>

								<article class="style2">
									<span class="image">
										<img src="images/pic03.jpg" alt="" />
									</span>
									<a href="https://github.com/cjin1998/collide">
										<h2>Code</h2>
										<div class="content">
											<p>Link to Github Repository</p>
										</div>
									</a>
								</article>

							</section>
							<p style="margin-bottom: 10px;"></p>
					</div>
				</section>


				
				
			</div>

			


			
		<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="icons" style="margin-bottom: 0px;">
									
									
									
									<li><a href="https://github.com/cjin1998" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
									
									<li><a href="https://www.linkedin.com/in/shuyi-j-070251121" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
									
									<li><a href="https://soundcloud.com/christine-jin-763724305"  style="font-family: 'Courier Prime', monospace;">/*More Music from Me**/</a></li>

									<li><a href="#" style="font-family: 'Courier Prime', monospace;">/*I Also Do Standup Comedy Sometimes**/</a></li>
								</ul>
				</div>
			</footer>

    
		<!-- Scripts "https://www.youtube.com/watch?v=hYKmDl9W9K0&t=55s" -->
			<script>
				$("#live").click(function(){
					alert("hiii");
				});

				$("#source").click(function(){
					alert("this is source code");
				});
			</script>
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="assets/js/chain.js"></script>
	</body>
