doctype html              
html.
	<head>
		<title>Shuyi Jin</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		
		<script src="assets/js/freezeframe.min.js"></script>
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	
	<body class="is-preload" style="background-image: url('images/grey.jpg');background-attachment: fixed; background-size: cover;">
	
		
		<!-- Sidebar -->
			<section id="sidebar">
			
				<div class="inner">
					
					<nav>
						<ul>
							<li><a href="/" style="font-family: 'Courier Prime', monospace;">Home</a></li>
							<li><a href="/#two" style="font-family: 'Courier Prime', monospace;">More Projects</a></li>
						
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">
				<section id="two" class="wrapper style3 fullscreen fade-up">
						<div class="inner">
							<h2 class="prompt" style="margin-top:50px;">Multiplicity</h2>
							<section>
								<div class="wgrid-container">
                                    
									<div class="wgrid-item">
										
										<div>
										<a href="/multiplicity"><img class="freezeframe" src="images/multi.gif"/></a>
										<script>
											new Freezeframe();
										</script>
										</div>

										<div class="apple">

										<a href="/info"><h3 class="projectname">Multiplicity Portal</h3></a>

										<div class="description" >
										<h4>This is project description prject desecription this is poroihwe desiwogr this is project descrition this is project despriot this ie</h4>
										</div>

										<div class="tech">	
											<li class="thing">Python</li>							
											<li class="thing">MySQL</li>
											<li class="thing">Flask</li>
											<li class="thing">Ajax</li>
											<li class="thing">JQuery</li>
											<li class="thing">SFTP</li>																
										</div>
										</div>				
									</div>

                            
									<div class="wgrid-item">								
										<div>
										<a href="/info"><img class="freezeframe" src="images/mc.gif"/></a>
										<script>
											new Freezeframe();
										</script>
										</div>

										<div class="apple">

										<a href="/info"><h3 class="projectname">Music and Chill</h3></a>

										<div class="description" >
										<h4>This is project description prject desecription this is poroihwe desiwogr this is project descrition this is project despriot this ie</h4>
										</div>

										<div class="tech">	
											<li class="thing">Python</li>							
											<li class="thing">MySQL</li>
											<li class="thing">Flask</li>
																										
										</div>
										</div>				
									</div>

                                    

                                   

								</div>
							</section>
							
						</div>
				</section>
			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper style1">
				<div class="inner">
					<ul class="icons" style="margin-bottom: 0px;">
									
									
									
									<li><a href="https://github.com/cjin1998" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
									
									<li><a href="https://www.linkedin.com/in/shuyi-j-070251121" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
									
									<li><a href="https://soundcloud.com/christine-jin-763724305" style="font-family: 'Courier Prime', monospace;">/*More Music from Me**/</a></li>

									<li><a href="#" style="font-family: 'Courier Prime', monospace;">/*I Also Do Standup Comedy Sometimes**/</a></li>
								</ul>
				</div>
			</footer>

    
		<!-- Scripts "https://www.youtube.com/watch?v=hYKmDl9W9K0&t=55s" -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="assets/js/chain.js"></script>
	</body>
