<div class="projects_grid">
  <div class="project">
    <div class="col-1">
      <h3 class="heading-secondary">Photography Template</h3>
    </div>
  </div>
</div>

<div class="projects-grid">
  <div class="project">
    <div class="col-1">
      <h3 class="heading-secondary">
        Thing1
      </h3>
      <div class="project-display">
        <div class="project-display-poster">
          <div>
            <a href="/multiplicity"
              ><img class="freezeframe" src="images/multi.gif"
            /></a>
            <script>
              new Freezeframe();
            </script>
          </div>
        </div>
      </div>
    </div>

    <div class="col-2">
      <div class="project-detail-section">
        <p class="small-section-title">Overview</p>
        <p>
          in this prject i overwasf
        </p>
      </div>
      <div class="project-detail-section">
        <p class="small-section-title">Overview</p>
        <p>
          in this prject i overwasf
        </p>
      </div>
    </div>
  </div>

  <div class="project">
    <div class="col-1">
      <h3 class="heading-secondary">
        Thing1
      </h3>
      <div class="project-display">
        <div class="project-display-poster">
          <div>
            <a href="/multiplicity"
              ><img class="freezeframe" src="images/multi.gif"
            /></a>
            <script>
              new Freezeframe();
            </script>
          </div>
        </div>
      </div>
    </div>

    <div class="col-2">
      <div class="project-detail-section">
        <p class="small-section-title">Overview</p>
        <p>
          in this prject i overwasf
        </p>
      </div>
      <div class="project-detail-section">
        <p class="small-section-title">Overview</p>
        <p>
          in this prject i overwasf
        </p>
      </div>
    </div>
  </div>
</div>
