<section id="two" class="wrapper style3 fullscreen fade-up">
						<div class="inner">
							<h2 class="prompt" style="margin-top:50px;">Multiplicity</h2>
							<section>
								<div class="wgrid-container">

									<div class="wgrid-item">
										
										<div>
										<a href="/multiplicity"><img class="freezeframe" src="images/multi.gif"/></a>
										<script>
											new Freezeframe();
										</script>
										</div>

										<div class="apple">

										<a href="/info"><h3 class="projectname">Multiplicity Portal</h3></a>

										<div class="description" >
										<h4>This is project description prject desecription this is poroihwe desiwogr this is project descrition this is project despriot this ie</h4>
										</div>

										<div class="tech">	
											<li class="thing">Python</li>							
											<li class="thing">MySQL</li>
											<li class="thing">Flask</li>
											<li class="thing">Ajax</li>
											<li class="thing">JQuery</li>
											<li class="thing">SFTP</li>																
										</div>
										</div>				
									</div>

                            
									<div class="wgrid-item">								
										<div>
										<a href="/info"><img class="freezeframe" src="images/mc.gif"/></a>
										<script>
											new Freezeframe();
										</script>
										</div>

										<div class="apple">

										<a href="/info"><h3 class="projectname">Music and Chill</h3></a>

										<div class="description" >
										<h4>This is project description prject desecription this is poroihwe desiwogr this is project descrition this is project despriot this ie</h4>
										</div>

										<div class="tech">	
											<li class="thing">Python</li>							
											<li class="thing">MySQL</li>
											<li class="thing">Flask</li>
																										
										</div>
										</div>				
									</div>

                                    

                                   

								</div>
							</section>
							
						</div>
					</section>\\\






     <!--<div class="carousel">
        <button class="carousel_button carousel_button--left is-hidden">
          <img src="images/back.svg" alt="" />
        </button>
        <div class="carousel_track-container">
          <ul class="carousel_track">
        	<li class="carousel_slide current-slide">
              <img class="carousel_image" src="https://images.unsplash.com/photo-1546968375-51ddab8c30f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"/>
            </li>
            <li class="carousel_slide">
              <img class="carousel_image" src="https://images.unsplash.com/photo-1546968375-51ddab8c30f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"/>
            </li>
            <li class="carousel_slide">
              <img class="carousel_image" src="https://images.unsplash.com/photo-1546968375-51ddab8c30f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"/>
            </li>
          </ul>
        </div>
        <button class="carousel_button carousel_button--right">
          <img src="images/forward.svg" alt="" />
        </button>
        <div class="carousel_nav">
          <button class="carousel_indicator current-slide"></button>
          <button class="carousel_indicator"></button>
          <button class="carousel_indicator"></button>
        </div>
      </div>-->