<div class="carousel">
			<button class="carousel_button carousel_button--left is-hidden">
				<img src="images/back.svg" alt="" />
			</button>
			<div class="carousel_track-container">
				<ul class="carousel_track">


					<li class="carousel_slide current-slide">
						<div class="grid-items">
							<div>
								<a href="/multiplicity"><img class="freezeframe" src="images/multi.gif"/></a>
								<script>
									new Freezeframe();
								</script>
							</div>
							<div class="apple">
							<div class="description" >
								<h4>This is project description prject desecription this is poroihwe desiwogr this is project descrition this is project despriot this ie the projie huiwh fhuwh whuewih uhf huihiuf hiuewh weueui huhfiuf uhui ehuh hiuh uh f iuhfu hfuw uhiuewhf ehuhu hwiugh uu uhiuwh ugeh iuewh</h4>
							</div>
							</div>
						</div>
					</li>


					<li class="carousel_slide">
						<div class="grid-items">
							<div>
								<a href="/multiplicity"><img class="freezeframe" src="images/mc.gif"/></a>
								<script>
									new Freezeframe();
								</script>
							</div>
							<div class="apple">
							<div class="description" >
								<h4>This is project description prject desecription this is poroihwe desiwogr this is project descrition this is project despriot this ie</h4>
							</div>
							</div>
						</div>
					</li>


					<li class="carousel_slide">
						<div class="grid-items">
							<div>
								<a href="/multiplicity"><img class="freezeframe" src="images/multi.gif"/></a>
								<script>
									new Freezeframe();
								</script>
							</div>
							<div class="apple">
							<div class="description" >
								<h4>This is project description prject desecription this is poroihwe desiwogr this is project descrition this is project despriot this ie</h4>
							</div>
							</div>
						</div>
					</li>


				</ul>
			</div>
			<button class="carousel_button carousel_button--right">
				<img src="images/forward.svg" alt="" />
			</button>
			<div class="carousel_nav">
				<button class="carousel_indicator current-slide"></button>
				<button class="carousel_indicator"></button>
				<button class="carousel_indicator"></button>
			</div>
		</div>